Package: com.lema.Unicorn
Name: Unicorn
Version: 1.0
Description: Tweak for TikTok. Download Videos and LIVE enhancements. Opened Sourced: https://github.com/LemaMichael/Unicorn
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Michael Lema
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

